html {
    margin: 0;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.buttons {
    width: 100px;
    height: 100px;
    /* border: solid black 2px; */
    display: inline-block;
    outline: none;
    /* border: none; */
}

#grey {
    background-color: grey;
}

#teal {
    background-color: teal;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}